body{
    background-color: white;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

header{
    background-color: black;
    padding: 0;
    overflow: hidden;
}

header .logo h1{
    font: 30px/1 Helvetica, Arial, sans-serif;
	float: left;
	padding: 0 0 0 50px;
}

header nav{
	float: right;
}

header ul{
 	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: none;
}

header li{
	float: left;
}

.nav-bar{
    border-radius: 50px;
background: #ffffff;
box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
}

.container{
    width: 80%;
    margin: auto;
}
