/**
 * Group A CSS skill
 *
 */

body {
    background: #fff;
    color: #444;
    overflow-x: hidden;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #1bb1dc;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #0a98c0;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #1bb1dc;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}


/* Prelaoder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #1bb1dc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* *--------------------------------------------------------------
* Top Bar
*--------------------------------------------------------------*/

#topbar {
    padding: 0 0 10px 0;
    font-size: 14px;
    transition: all 0.5s;
}

#topbar .social-links {
    text-align: right;
}

#topbar .social-links a {
    color: #535074;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
}

#topbar .social-links a:hover {
    color: #1bb1dc;
}

#topbar .social-links a:first-child {
    border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 110px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
    height: 70px;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
    display: none;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #413e66;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
}

.main-pages {
    margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/intro-bg.jpg") center top no-repeat;
    background-size: cover;
}

#intro .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#intro .intro-info h2 span {
    color: #1bb1dc;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
    background: #0a98c0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
    /* Drop Down */
    /* Deep Drop Down */
}

.main-nav,
.main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.main-nav a {
    display: block;
    position: relative;
    color: #413e66;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
    color: #1bb1dc;
    text-decoration: none;
}

.main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    /* transition: ease all 0.01s; */
}

.main-nav .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.main-nav .drop-down li {
    min-width: 180px;
    position: relative;
}

.main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
    color: #1bb1dc;
}

.main-nav .drop-down > a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.main-nav .drop-down .drop-down > a {
    padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #1bb1dc;
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
    color: #8dc2fa;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down > a:after {
    content: "\f077";
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #065e77;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(65, 65, 65, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/* 
--------------------------------
#Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 56px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

.section-header div{
    text-align: center;
    align-items: center;
}



/* 
--------------------------------
Section with background
--------------------------------*/

.section-bg {
    background: #e6eeff url('../img/tele-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}


/*-----------------------------
 Disruptive Technologies Explained Section
--------------------------------*/

#about {
    padding: 80px 0;
}

#about .about-content {
    padding-top: 40px;
}

#about .about-content h2 {
    color: #413e66;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#about .about-content h3 {
    color: #696592;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
}

#about .about-content ul {
    list-style: none;
    padding: 0;
}

#about .about-content ul li {
    padding-bottom: 10px;
}

#about .about-content ul li i {
    font-size: 20px;
    padding-right: 4px;
    color: #1bb1dc;
}

#about .about-img {
    position: relative;
    margin: 30px 30px 30px 30px;
}

#about .description{
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}

#about .about-img img {
    width: 100%;
    border: 8px solid #fff;
    transition: 0.5s;
}

#about .about-img img:hover {
    width: 100%;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

#about .about-img::before {
    position: absolute;
    left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: "";
    background-color: #ebf1fa;
    transition: 0.5s;
}

#about .about-img::after {
    position: absolute;
    right: -31px;
    bottom: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: "";
    background-color: #ebf1fa;
    transition: 0.5s;
}


/*------------------------------
 A closer look
--------------------------------*/

#a-closer-look {
    padding: 20px 0 40px 0;
}

#a-closer-look .box {
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 -15px 40px -15px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#a-closer-look .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#a-closer-look .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#a-closer-look .icon i {
    font-size: 36px;
    line-height: 1;
}

#a-closer-look .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#a-closer-look .title a {
    color: #111;
}

#a-closer-look .box:hover .title a {
    color: #1bb1dc;
}

#a-closer-look .description {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -5px;
    padding-bottom: 10px;
}


#a-closer-look3 .description{
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}

#a-closer-look .img-fluid{
    height: 350px;
}


/* The Team Section
--------------------------------*/

#team {
    padding: 60px 0;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#team .member .member-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
    padding: 15px 0;
    background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
    transition: margin 0.2s;
    height: 40px;
    transition: height 0.4s;
}

#team .member:hover .member-info {
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    height: 80px;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social a:hover {
    color: #1bb1dc;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/* Logo Section
--------------------------------*/

#logo {
    padding: 60px 0;
}

#logo img {
    max-height: 80%;
    opacity: 1;
    padding-left: 20px;
    transition: 0.3s;
    object-fit: cover;
}

#logo img:hover {
    opacity: 0.5;
}

#logo .owl-nav,
#logo .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#logo .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#logo .owl-dot.active {
    background-color: #1bb1dc;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #fff;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f5f8fd;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #413e66;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #535074;
}


#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #535074;
    font-size: 15px;
}

#footer .credits {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #8582a8;
}

#footer .credits a {
    color: #1bb1dc;
}

#footer .credits a:hover {
    color: #0a98c0;
}

.intro-img{
    top: 55px
}

.intro-info{
    top: 55px;
}

.about-img{
    width: 450px;
    left: -60px;
}


.about-content1{
    text-align: center; 
    margin-left: 350px; 
    width: 410px;
}

.about-img2{
    margin-left: 250px;
}


/*--------------------------------------------------------------
# For Mobile Versions
--------------------------------------------------------------*/

@media (min-width: 991px) {
    #call-to-action .cta-btn-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media (min-width: 992px) {
    #intro .intro-info {
        padding-top: 80px;
    }

    #testimonials .testimonial-item p {
        width: 80%;
    }
}

@media (max-width: 991px) {
    #topbar {
        display: none;
    }

    #header {
        height: 70px;
        padding: 15px 0;
    }

    #header .logo h1 {
        font-size: 28px;
        padding: 8px 0;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }

    #faq #faq-list a {
        font-size: 18px;
    }

    #faq #faq-list i {
        top: 13px;
    }
}

@media (max-width: 767px) {
    .section-header h3{
        font-size: 30px;
        margin-top: -40px;
    }

    .section-header div{
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    #a-closer-look .img-fluid{
        height: auto;
    }

    .about-content h2{
        font-size: 25px;
        text-align: center;
    }
    .about-content p{
        text-align: justify;
    }
    
    .footer-info p{
        text-align: justify;
        padding: 2px;
        position: relative;
    }

    .about-content1{
        margin-left: -20px;
        font-size: 0.9em;
        width: 350px;
    }

    .about-img{
        left: 0;
        width: 285px;
        height: 220px;
    }

    .about-img iframe{
        margin: 0;
        width: 300px;
        height: 220px;
    }

    .about-img1 iframe{
        margin: 0;
        height: 220px;
        width: 300px;
    }

    #intro {
        height: auto;
        padding: 80px 0 60px 0;
    }

    #intro .container {
        height: auto !important;
    }

    #intro .intro-img {
        top: -50px;
        width: 80%;
    }

    #intro .intro-info {
        top: -40px;
        text-align: center;
        padding-top: 20px;
    }

    #intro .intro-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .section-header p {
        width: 100%;
    }
}

@media (max-width: 574px) {
    #footer .footer-top .social-links a {
        margin-bottom: 25px;
    }
}